.card {
  margin-bottom: 30px;
  /* width: 15rem; */
  margin: 10px;
  border: none !important;
  color: #fff;
  background: rgba(0, 0, 0, 0.082);
  /* perspective: 1000px; */
}

.card-img-top {
  height: 250px;
}
.back-side {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.description {
  margin-top: 15%;
  text-align: center;
}
.card-footer {
  padding: 0;
  background: #fff;
}

.card-footer button {
  cursor: pointer;
}
.card-title {
  height: 60px;
  font-size: 1.2rem;
}
.front-side,
.back-side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card:hover .front-side {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card:hover .back-side {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.genre {
  text-transform: capitalize;
  opacity: 0.6;
}
