.card {
  margin-bottom: 30px;
  margin: 10px;
  border: none !important;
  color: #fff;
  background: rgba(0, 0, 0, 0.08);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 10;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.card-img-top {
  height: 250px;
}
.back-side {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.description {
  margin-top: 15%;
  text-align: center;
}
.card-footer {
  padding: 0;
  background: #fff;
}

.card-footer button {
  cursor: pointer;
}
.card-title {
  height: 60px;
  font-size: 1.2rem;
}
.front-side,
.back-side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.front-side {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.card:hover {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3),
    -5px -5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), -5px -5px 5px rgba(0, 0, 0, 0.3);
}
.card:hover .front-side {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}
.card:hover .back-side {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.genre {
  text-transform: capitalize;
  opacity: 0.6;
}
