.products-list {
  margin: 100px 40px 8px 0px;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  /* padding-left: 17px; */
  padding-bottom: 30px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

@media (max-width: 768px) {
  .product-card {
    animation: none;
  }
}
