.products-list {
  margin: 100px 40px 8px 0px;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  /* padding-left: 17px; */
  padding-bottom: 30px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
/* .products-front{
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;
} */
/* */
@media (max-width: 768px) {
  
} 
