<aside class="sidebar">
  <div class="sidebar__nav-wrapper">
    <div class="sidebar__nav">
      <product-filter [category]="category"></product-filter>
    </div>

    <div class="sidebar__nav">
      <a class="sidebar-list-item" routerLink="/shopping-cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;Shopping cart</a>
      <a class="sidebar-list-item" routerLink="/my/orders">
        <i class="fa fa-usd" aria-hidden="true"></i> &nbsp;My orders</a>
    </div>

  </div>

</aside>