.sidebar {
  top: 85px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  overflow: hidden;
  color: #fff;
  width: 200px;
  height: 100vh;
  -webkit-animation: 0.4s sidebarAnimation ease-out;
  animation: 0.4s sidebarAnimation ease-out;
}
.sidebar-list-item {
  display: block;
  position: relative;
  float: none;
  padding: 0;

  overflow: hidden;
  text-shadow: none;
  white-space: nowrap;
}
a.sidebar-list-item {
  display: block;
  height: 42px;
  padding-left: 18px;
  font-size: 15px;
  text-decoration: none;
  line-height: 42px;
  cursor: pointer;
  color: #fff;
}

a.sidebar-list-item:hover {
  color: #209e91 !important;
}

i {
  float: left;
  display: contents;
}

@media (max-width: 1024px) {
  .sidebar {
    z-index: 900;
    width: 180px;
  }
}
@media (max-width: 980px) {
  .sidebar {
    width: 160px;
  }
}
@media (max-width: 812px) {
  .sidebar {
    width: 140px;
    top: 66px;
  }
}
@media (min-width: 1900px) {
  .sidebar {
    width: 315px;
  }
}

@-webkit-keyframes sidebarAnimation {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes sidebarAnimation {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
