.sticky-top {
  top: 80px;
}
.sidebar-list-item {
  display: block;
  position: relative;
  float: none;
  padding: 0;
  background: rgba(0, 0, 0, 0) !important;
  overflow: hidden;
  text-shadow: none;
  white-space: nowrap;
}
a.sidebar-list-subitem.active {
  color: #209e91 !important;
}
a.sidebar-list-item {
  display: block;
  height: 42px;
  padding-left: 18px;
  font-size: 15px;
  text-decoration: none;
  line-height: 42px;
  cursor: pointer;
  color: #fff;
}
a.sidebar-list-subitem {
  display: block;
  text-shadow: none;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  padding-left: 52px;
  height: auto;
  line-height: 29px;
}
a.sidebar-list-subitem:hover {
  color: #209e91 !important;
}

.fa-chevron-down {
  float: right;
  top: 5px !important;
  margin-top: 13px;
  margin-right: 10px;
}
