<div @fade class="container shipping-form">
  <form #f="ngForm">
    <div class="form-group">
      <label for="">Email</label>
      <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="email" class="form-control" required>
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required">Email is required.</div>
      </div>
    </div>



    <div class="form-group">
      <label for="">Phone</label>
      <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text" class="form-control" placeholder="Enter phone (+7XXXXXXXXXX)"
        (keypress)="keyPress($event)" minlength=12 maxlength=12 required>
      <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
        <div *ngIf="addressLine1.errors.required">Phone is required.</div>
      </div>
    </div>
    <button [disabled]="!f.valid" (click)="placeOrder()" class="btn btn-primary">Place Order</button>
  </form>
</div>