.shipping-form {
  color: #fff;
  margin-top: 20px;
}
.shipping-form input {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.btn {
  margin-top: 130px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.8);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.8);
}
