/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";

@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: "Kaushan Script";
  src: url("./assets/KaushanScript-Regular.otf");
}

body {
  font-family: "Lato", sans-serif;
  background-image: url("assets/bg2.jpg");
  background-attachment: fixed;
}
body a {
  transition: color 0.2s ease;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.col-2 {
  padding-left: 0 !important;
}
.btn {
  background-color: #1e9185 !important;
  color: #fff !important;
  border: #209e91 !important;
  padding: 9px !important;
  cursor: pointer;
  text-transform: none;
  border-radius: 7px;
}
.card-footer {
  background: none !important;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #229e92 !important;
}
